.custom-bg::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  inset: 0;
  background-image: radial-gradient(
    ellipse at 50% 50%,
    hsl(210, 100%, 92%),
    hsl(0, 0%, 100%)
  );
  background-repeat: no-repeat;
}




/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f133;
  filter: blur(2px);
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
  filter: blur(2px);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
  border-radius: 5px;
  filter: blur(10px);
}



/* style/bg.css */
@layer utilities {
  .fade-edges {
    -webkit-mask-image: linear-gradient(
      to bottom,
      transparent 0%,
      black 10%,
      black 90%,
      transparent 100%
    );
    mask-image: linear-gradient(
      to bottom,
      transparent 0%,
      black 10%,
      black 90%,
      transparent 100%
    );
  }
}

/* Optional: Hide scrollbar for a cleaner look */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}